.container {
    padding-right: 1rem;
    margin: 0 -0.25rem 0.5rem 0;

    &:not(:last-child) {
        border-right: 1px solid var(--panel-background-color-light);
    }

    h3 {
        color: var(--text-white);
        border-bottom: 1px solid var(--panel-background-color-light);
        //border-bottom: 2px solid var(--header-background-color);
        margin-bottom: 1rem;
    }

    .field {
        label {
            text-align: left !important;
            max-width: unset !important;
        }

        .info {
            margin-left: 1rem;
            font-size: 0.8rem;
            color: var(--help);
        }
    }
}