.container {
    display: grid;
    grid-template-columns: 1fr 1fr 3rem;
    gap: 1px;
    font-size: 0.65rem;

    .cell {
        display: flex;
        align-items: center;

        background-color: var(--panel-background-color-dark);
        padding: calc(0.2rem + 1px) 0.5rem;

        &.button-delete-cuepoint {
            opacity: 0;

            color: var(--secondary-light);
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }

    .column {
        position: sticky;
        top: 0;
        background-color: var(--panel-background-color-dark-dark);

        &.button-add-cuepoint {
            opacity: 0;

            color: var(--primary-light);
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }

    .header {
        display: contents;

        &:hover .button-add-cuepoint {
            opacity: 1 !important;
        }
    }

    .row {
        display: contents;

        &:hover {
            .cell:not(.button-delete-cuepoint) {
                background-color: var(--panel-background-color-light-light);
            }

            .button-delete-cuepoint {
                opacity: 1 !important;
            }
        }
    }
}