.files-container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    overflow: hidden;
    background-color: var(--panel-background-color-light);

    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        img {
            width: 48px;
            height: 48px;
            filter: contrast(0);
            animation: rotate-button 2s infinite linear reverse;
        }
    }

    .files-scrollable {
        height: 100%;

        .files-list-container {
            display: grid;
            grid-template-columns: min-content minmax(min-content, auto) repeat(6, min-content);
            align-items: center;

            .cell {
                padding: 0.35rem 0.5rem;
                height: 2rem;
                border-right: 1px solid var(--panel-background-color-dark);
                border-bottom: 1px solid var(--panel-background-color-dark);

                cursor: pointer;

                &.selected {
                    background-color: var(--pale-blue)
                }

                &:has(img) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                img {
                    height: 1.5rem;
                    filter: invert(1) brightness(0.7);
                }

                &.right {
                    text-align: right;
                }

                &.mono {
                    font-family: var(--mono-font-family);
                }
            }

            .column {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                position: sticky;
                top: 0;
                background-color: var(--header-background-color);
                padding: calc(0.2rem + 1px) 0.5rem;
                z-index: 1;

                &:hover {
                    span {
                        opacity: 1;
                    }
                }

                i {
                    margin: 0.3rem 0 0 1rem;
                    width: 1rem;

                    opacity: 0.6;
                }
            }
        }
    }

    .footer-container {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 6px;

        border-top: 1px solid #000;
        padding: 6px;

        .progress {
            position: absolute;
            left: 0;
            top: -1px;
            width: 50%;
            height: 1px;
            z-index: 3;

            background-color: var(--ctrl-highlight-soft);
        }

        ::deep .text-input {
            flex: 1;
            color: var(--text-white);
            
            padding: 2px 6px;
            border: 1px solid var(--panel-background-color-light-light);
            background-color: var(--panel-background-color-dark);
            outline: none;

            &:focus {
                outline: 1px solid var(--panel-background-color-light-light);
            }
        }

        .reset-search {
            position: absolute;
            right: calc(2rem + 6px + 6px);
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            background-color: var(--panel-background-color-dark);

            width: 2rem;
            height: 2rem;
            padding: 2px;
            border: 1px solid var(--panel-background-color-light-light);

            &:not(.reset-search) {
                font-size: 0.8rem;
            }

            i {
                margin-top: 2px;
            }

            &.working span {
                animation: rotate-button 1s infinite linear;
            }

            &:active {
                background-color: var(--panel-background-color-light-light);
            }
        }
    }
}

@keyframes rotate-button {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}