<div class="knobs-container"
     @ref="knobs">
    <Knob Name="COLOR" @ref="eqColor" ValueChanged="ApplyEqColor" />
    <Knob Name="KEY" @ref="eqKey" ValueChanged="ApplyEqKey" />
</div>

@code {
    private ElementReference? knobs;
    private Knob? eqColor;
    private Knob? eqKey;

    public struct FilterKeyValues {
        public double Color;
        public double Key;
    }
    public FilterKeyValues FiltersValues = new();

    [Parameter]
    public EventCallback<FilterKeyValues> ValueChanged { get; set; }

    public Filters() {
        FiltersValues.Color = 0.5;
        FiltersValues.Key = 0.5;
    }

    public void Reset() {
        eqColor?.SetValue(0.5);
        eqKey?.SetValue(0.5);
    }

    private async void ApplyEqColor(double value) {
        FiltersValues.Color = value;
        await ValueChanged.InvokeAsync(FiltersValues);
    }

    private async void ApplyEqKey(double value) {
        FiltersValues.Key = value;
        await ValueChanged.InvokeAsync(FiltersValues);
    }

    public async Task UpdateKnobs() {
        if(eqColor != null && FiltersValues.Color != eqColor.Value) await eqColor.SetValue(FiltersValues.Color, true);
        if(eqKey != null && FiltersValues.Key != eqKey.Value) await eqKey.SetValue(FiltersValues.Key, true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            eqColor?.SetInitialValue(FiltersValues.Color);
            eqKey?.SetInitialValue(FiltersValues.Key);

            await InvokeAsync(StateHasChanged);
        }
    }
}