.folder {
    user-select: none;
    cursor: pointer;
    height: calc(2rem - 1px);
    padding-block: 0.3rem;

    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;

        .icons {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            width: 2rem;

            i {
                margin: auto;

                &.plus-hack {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, calc(-50% + 0.5px)) rotate(45deg) scale(0.5);
                }
            }
        }

        .loading {
            width: calc(0.5rem + 4px + 1.2rem);
            height: 1.2rem;
            margin: auto;

            img {
                height: 1.5rem;
                filter: invert(1) brightness(0.7);
                margin: -0.2rem 0 0 0.1rem;
            }
        }
    }

    &.selected {
        background-color: var(--pale-blue);
    }
}

.error {
    color: #fff;
    background-color: #f00;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
}

/*.subfolders {
    padding-left: 2rem;
}*/