.scroller {
    height: 20em;
}

.container {
    display: flex;
    flex-direction: column;

    .entry {
        display: flex;
        align-items: center;
        padding: 0.25em;

        &:hover {
            background-color: var(--panel-background-color-light);
        }

        .entry-name {
            border-bottom: 1px solid transparent;
            cursor: pointer;

            &.selected {
                border-bottom: 1px solid var(--ctrl-highlight-soft);
            }
        }
    }

    i {
        margin-right: 0.5em;
        color: var(--panel-background-color-light-light);

        &[class*="-plus"], &[class*="-minus"] {
            cursor: pointer;
        }
    }
}

.selected-folder {
    font-size: 0.8rem;
    color: var(--ctrl-highlight-soft);

    margin: 1rem 0 0 8ch;
    width: calc(100% - 8ch);
    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--panel-background-color-dark);
}