.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .name {
        font-size: 0.6rem;
        margin-top: -0.2rem;
    }

    .knob-container {
        position: relative;

        width: 36px;
        height: 36px;
        border-radius: 50%;

        &.disabled {
            pointer-events: none;

            .knob {
                opacity: 0.4;
            }
        }

        .knob {
            position: absolute;
            top: calc(6px / 2);
            left: calc(6px / 2);
            width: calc(100% - 6px);
            height: calc(100% - 6px);

            border: calc(6px / 2) solid var(--app-background-color);
            border-radius: 50%;

            rotate: 0;

            background-color: var(--panel-background-color-dark);

            .pointer {
                position: absolute;
                top: 0;
                left: 50%;
                width: 2px;
                height: 50%;
                background-color: #fff8;

                transform: translateX(-50%);

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;

                    background-color: var(--panel-background-color-dark);
                    transform: translate(-50%, 2px);
                }
            }
        }
    }
}