.container {
    --arc-width: 6px;
    --knob-margin: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .name {
        font-size: 0.6rem;
        margin-top: -0.2rem;
    }

    .knob-container {
        position: relative;

        width: 36px;
        height: 36px;
        border-radius: 50%;

        &.disabled {
            pointer-events: none;

            .knob {
                opacity: 0.4;
            }
        }

        .knob {
            position: absolute;
            top: calc(var(--arc-width) / 2);
            left: calc(var(--arc-width) / 2);
            width: calc(100% - var(--arc-width));
            height: calc(100% - var(--arc-width));

            border: calc(var(--arc-width) / 2) solid var(--app-background-color);
            border-radius: 50%;
            background-color: var(--panel-background-color-dark);

            .highlight-container {
                position: relative;
                display: inline-block;

                left: calc(-1 * var(--arc-width) / 2);
                top: calc(-1 * var(--arc-width) / 2);
                width: calc(100% + calc(var(--arc-width) / 2) + 3px);
                height: calc(100% + calc(var(--arc-width) / 2) + 3px);

                opacity: 0.75;

                .arc {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border-radius: 50%;
                    overflow: hidden;

                    .segment {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100vw;
                        height: 100vw;
                        background: var(--ctrl-highlight-soft);
                        transform-origin: 0 0;
                    }

                    .cap-start,
                    .cap-end {
                        position: absolute;

                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        background-color: transparent;

                        &::after {
                            content: '';
                            position: absolute;
                            top: calc(var(--arc-width) / 4);
                            left: 50%;
                            width: calc(var(--arc-width) / 2);
                            height: calc(var(--arc-width) / 2);
                            background-color: var(--ctrl-highlight-soft);
                            border-radius: 50%;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                }

                .inner-circle {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: calc(100% - var(--arc-width));
                    height: calc(100% - var(--arc-width));
                    transform: translateX(-50%) translateY(-50%);
                    background-color: var(--panel-background-color-dark);
                    border-radius: 50%;
                    /* h-offset v-offset blur spread color inset */
                    box-shadow: 0  1px 2px 0px #ccc4 inset,
                                0 -2px 2px 0px #0004 inset
                }
            }

            .pointer {
                position: absolute;
                top: calc(var(--arc-width) / 2 + var(--knob-margin));
                left: calc(var(--arc-width) / 2 + var(--knob-margin));
                width: calc(100% - var(--arc-width) - 2 * var(--knob-margin));
                height: calc(100% - var(--arc-width) - 2 * var(--knob-margin));
                background-color: transparent;

                transform: translateX(-50%);

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 50%;

                    background-color: #fff8;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}