.container {
    --arc-width: 6px;
    --knob-margin: 4px;
    --range-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .name {
        font-size: 0.6rem;
        margin-top: -0.2rem;
    }

    .knob-container {
        position: relative;

        width: 2.6em;
        height: 2.6em;

        &.disabled {
            pointer-events: none;

            .knob {
                opacity: 0.4;
            }
        }

        .knob {
            position: absolute;
            inset: var(--arc-width);

            border-radius: 50%;
            background-color: var(--panel-background-color-dark);

            .range {
                position: absolute;
                inset: calc(-1 * var(--arc-width) + var(--knob-margin));
                border-radius: 50%;
                background: conic-gradient(var(--ctrl-highlight-soft) 50%, var(--app-background-color) 50%);

                &::after {
                    content: "";
                    position: absolute;
                    inset: var(--range-width);
                    border-radius: 50%;
                    background-color: var(--panel-background-color-dark);
                }
            }

            .pointer {
                position: absolute;
                top: calc(var(--arc-width) / 2 + var(--knob-margin));
                left: calc(var(--arc-width) / 2 + var(--knob-margin));
                width: calc(100% - var(--arc-width) - 2 * var(--knob-margin));
                height: calc(100% - var(--arc-width) - 2 * var(--knob-margin));
                background-color: transparent;

                transform: translateX(-50%);

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 50%;

                    background-color: color-mix(in srgb, var(--text-white), transparent 30%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}