@using Diyokee.MediaProviders
@using static Diyokee.MediaProviders.IMediaProvider

<div class="folders scroller">
    <FolderUI
        Provider="@Provider"
        RelativePath=""
        SelectedFolderChanged="(folder) => SelectedFolderChanged.InvokeAsync(folder)"/>
</div>

@code {
    [Parameter]
    public IMediaProvider? Provider { get; set; }

    [Parameter]
    public EventCallback<string> SelectedFolderChanged { get; set; }
}