@using Diyokee.MediaProviders
@using static Diyokee.MediaProviders.IMediaProvider

<div
    class="folders scroller"
    tabindex="0">
    <Folders
        Provider="@Provider"
        RelativePath=""
        SelectedFolderChanged="(folder) => SelectedFolderChanged.InvokeAsync(folder)"
        @ref="FoldersUI"/>
</div>

@code {
    [Parameter]
    public IMediaProvider? Provider { get; set; }

    [Parameter]
    public EventCallback<string> SelectedFolderChanged { get; set; }

    public Folders? FoldersUI;
}