.container {
    position: relative;

    padding-right: 1rem;
    margin-right: -0.25rem;
    border-right: 1px solid var(--panel-background-color-light);

    h3 {
        color: var(--text-white);
        border-bottom: 1px solid var(--panel-background-color-light);
        margin-bottom: 1rem;
    }

    .field {
        label {
            text-align: left !important;
            max-width: unset !important;
        }

        .info {
            margin-left: 1rem;
            font-size: 0.8rem;
            color: var(--help);
        }

        .button-select-location {
            color: var(--primary-light);
            background: var(--panel-background-color-dark);
            border: none;
            border-left: 1px solid var(--panel-background-color-dark-dark);
            padding: 0.28em 0.5em;
            cursor: pointer;

            color: rgb(from var(--primary-light) r g b / 70%);
            transition: color 250ms;

            &:hover {
                color: rgb(from var(--primary-light) r g b / 100%);
            }
        }
    }

    .button-delete-provider {
        position: absolute;

        font-family: "FontAwesome Solid";
        font-size: 1rem;

        color: var(--secondary-light);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        right: 0.5rem;
        top: 0;

        opacity: 0;
        transition: opacity 250ms;
    }

    &:hover .button-delete-provider {
        opacity: 1;
    }
}