.sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 2em;
}

.mappings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .mapping-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mapping-name {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;

            label {
                position: relative;
                width: fit-content;

                &.highlight::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;                    
                    border-bottom: 1px solid var(--ctrl-highlight);
                    animation: fade-in-out 2s forwards;
                }
            }
        }

        .buttons-container {
            display: flex;
            flex-direction: row;
            gap: 1px;
        }
    }
}

button {
    font-family: "FontAwesome Solid";
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;

    opacity: 0.7;
    transition: opacity 250ms;

    &:hover {
        opacity: 1;
    }

    &.button-add-profile {
        color: var(--primary-light);
    }

    &.button-delete-profile {
        color: var(--secondary-light);
    }

    &.button-edit-profile-name {
        color: var(--text-white);
    }

    &.button-listen {
        color: var(--primary-light);
    }

    &.button-delete {
        color: var(--secondary-light);
    }

    &.button-listening {
        color: var(--primary-light);
        opacity: 1;
        animation: rotate 2s linear infinite;
    }

    &.refresh-devices {
        color: var(--text-white);
    }

    &.not-configured {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }
}

::deep .profile-name {
    position: relative;
    
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 32px) !important;
        border-bottom: 3px solid var(--ctrl-highlight) !important;
    }
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    25% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}