<div class="dialog-background @(IsOpen ? "show" : "")">
    <div class="dialog-container @(IsOpen ? "show" : "")">
        <div class="title">
            <span>@Title</span>
            <div class="close" @onclick="Close"><i class="fa-solid fa-close"></i></div>
        </div>

        <div class="scroller">
            <div class="properties-container">
                @ChildContent
            </div>
        </div>

        <div class="buttons-container">
            <div class="dlg-button primary" @onclick="Save">Save</div>
            <div class="dlg-button secondary" @onclick="Close">Cancel</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public EventCallback OnOpen { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    public bool IsOpen { get; set; } = false;

    public void Open() {
        if(!IsOpen) {
            IsOpen = true;
            OnOpen.InvokeAsync(null);

            InvokeAsync(StateHasChanged);
        }
    }

    public void Close() {
        if(IsOpen) {
            IsOpen = false;
            OnClose.InvokeAsync(null);

            InvokeAsync(StateHasChanged);
        }
    }

    private void Save() {
        OnSave.InvokeAsync(null);
        Close();
    }
}
