.dialog-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);

    &.show {
        display: block;
    }
}

.dialog-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    max-width: 1024px;
    z-index: 99;
    display: none;
    height: fit-content;

    background-color: var(--panel-background-color-dark-dark);
    box-shadow: 0 0px 24px 4px rgba(0, 0, 0, 0.6);
    border-radius: 0 0 6px 6px;

    transform: translate(-50%, -50%);

    &.show {
        display: block;
    }

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0.5rem;
        background-color: var(--header-background-color);

        .close {
            cursor: pointer;
            opacity: 0.7;
            margin-right: 0.5rem;

            transition: opacity 250ms;

            &:hover {
                opacity: 1;
            }
        }
    }

    .properties-container ::deep {
        display: grid;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        max-height: 80vh;

        .row {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .field {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0.25rem 0;

            .select-container {
                position: relative;
                flex: 1;

                &::after {
                    content: '\f0d7';
                    position: absolute;
                    right: 0.8em;
                    top: calc(50% - 4px);
                    transform: translateY(-50%);
                    width: 0.5em;
                    height: 0.5em;

                    font-family: "FontAwesome Solid";
                    font-size: 0.8em;
                    color: var(--panel-background-color-light-light);
                }
            }

            &:has(.autocomplete) {
                position: relative;

                .autocomplete {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: fit-content;
                    height: fit-content;
                    max-height: 12rem;
                    overflow-y: scroll;
                    z-index: 100;
                    font-size: 0.9rem;
                    background-color: var(--panel-background-color-dark);

                    display: none;

                    &.show {
                        display: block;
                    }

                    .item {
                        padding: 0.3rem;

                        &.selected {
                            background-color: var(--pale-blue);

                            &:hover {
                                background-color: var(--pale-blue-hover);
                            }
                        }

                        &:hover {
                            background-color: var(--panel-background-color-dark-dark);
                        }
                    }
                }
            }
        }

        label {
            display: inline-block;
            color: var(--panel-background-color-light-light);
            padding-right: 0.8rem;
            min-width: 9ch;

            &.no-min-size {
                min-width: unset;
            }
        }

        input:not([type="checkbox"]), select {
            width: 100%;

            appearance: none;
            font-family: Montserrat;
            color: var(--text-white);
            outline: none;
            background-color: var(--panel-background-color-dark);
            border: none;
            padding: 0.3rem;
            font-size: 0.9rem;

            &[type="number"], &.as-number {
                appearance: textfield;
                text-align: center;
                max-width: 4rem;
                font-family: var(--mono-font-family);
                line-height: 0.1rem;

                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    display: none;
                }
            }
        }

        input[type="checkbox"] {
            appearance: none;
            color: var(--text-white);
            outline: none;
            background-color: var(--panel-background-color-dark);
            width: 1rem;
            height: 1rem;

            &:checked::after {
                content: "\f00c";
                font-family: "FontAwesome Solid";
                font-size: 0.8rem;
                display: block;
                margin: 1px 0 0 2px;
                color: var(--text-white);
            }
        }

        .inner-properties-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            height: fit-content;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 1rem;

        .dlg-button {
            color: var(--text-white);
            padding: 0.5rem 0.8rem;
            border-radius: 6px;
            cursor: pointer;

            transition: background-color 250ms;

            &.primary {
                border: 1px solid var(--primary-light);
                background-color: color-mix(in srgb, var(--primary), transparent 50%);

                &:hover {
                    background-color: var(--primary);
                }

                &:active {
                    background-color: var(--primary-light);
                }
            }

            &.secondary {
                border: 1px solid var(--secondary-light);
                background-color: color-mix(in srgb, var(--secondary), transparent 50%);

                &:hover {
                    background-color: var(--secondary);
                }

                &:active {
                    background-color: var(--secondary-light);
                }
            }

            &.tertiary {
                border: 1px solid var(--help);
                background-color: color-mix(in srgb, var(--help), transparent 50%);

                &:hover {
                    color: var(--panel-background-color-dark-dark);
                    background-color: var(--help);
                }

                &:active {
                    background-color: var(--help);
                }
            }

            &.float-left {
                margin-right: auto;
            }
        }
    }
}