@using System.Diagnostics
@using Newtonsoft.Json
@inject IJSRuntime JS

<div class="panel-resize @(Orientation == Orientations.Horizontal ? "horizontal-resize" : "vertical-resize")" @ref="dividerElement"></div>

@code {
    public enum Orientations {
        Horizontal,
        Vertical
    }

    public enum ConstrainKeys {
        Min,
        Max
    }

    [Parameter]
    public Orientations Orientation { get; set; } = Orientations.Horizontal;

    [Parameter]
    public ElementReference ResizeElement { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public Dictionary<ConstrainKeys, string> Constrains { get; set; } = new();

    [Parameter]
    public EventCallback<(string, double)> OnResizeEnd { get; set; }

    [CascadingParameter]
    private MouseState? mouseState { get; set; } = null;

    private ElementReference dividerElement;
    private Bounds? dividerBounds;
    private Bounds? resizeElementBounds;

    private bool retry = false;

    private async Task ApplyNewSize() {
        foreach(var constrain in Constrains) {
            if(!double.TryParse(constrain.Value, out double value)) return;
            switch(constrain.Key) {
                case ConstrainKeys.Min:
                    if(Orientation == Orientations.Vertical) {
                        if(resizeElementBounds!.Height < value) {
                            resizeElementBounds.Height = value;
                            dividerBounds!.Y = value + dividerBounds.Height / 2;
                        }
                    } else {
                        if(resizeElementBounds!.Width < value) {
                            resizeElementBounds.Width = value;
                            dividerBounds!.X = value + dividerBounds.Width / 2;
                        }
                    }
                    break;
                case ConstrainKeys.Max:
                    if(Orientation == Orientations.Vertical) {
                        if(resizeElementBounds!.Height > value) {
                            resizeElementBounds.Height = value;
                            dividerBounds!.Y = value + dividerBounds.Height / 2;
                        }
                    } else {
                        if(resizeElementBounds!.Width > value) {
                            resizeElementBounds.Width = value;
                            dividerBounds!.X = value + dividerBounds.Width / 2;
                        }
                    }
                    break;
            }
        }

        if(Orientation == Orientations.Vertical) {
            await JS.InvokeVoidAsync("setElementBounds", ResizeElement, new double[] {
                -1, -1, -1, resizeElementBounds!.Height
    });
        } else {
            await JS.InvokeVoidAsync("setElementBounds", ResizeElement, new double[] {
                -1, -1, resizeElementBounds!.Width, -1
    });
        }
    }

    [JSInvokable]
    public async Task OnResize() {
        dividerBounds = new Bounds(await JS.InvokeAsync<double[]>("getElementBounds", dividerElement));
        resizeElementBounds = new Bounds(await JS.InvokeAsync<double[]>("getElementBounds", ResizeElement));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender || retry) {
            if(ResizeElement.Id == null) {
                retry = true;
                return;
            } else {
                retry = false;
            }

            await OnResize();
            var dotNetReference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("Diyokee.monitorResize", dotNetReference);

            if(Program.Settings.UIElements.ContainsKey(Name)) {
                if(double.TryParse(Program.Settings.UIElements[Name], out double value)) {
                    if(Orientation == Orientations.Vertical) {
                        resizeElementBounds.Height = value;
                        dividerBounds!.Y = value;
                    } else {
                        resizeElementBounds.Width = value;
                        dividerBounds!.X = value;
                    }
                    await ApplyNewSize();
                }
            }

            await Task.Run(async () => {
                bool isValid = false;
                int delay = 60;
                while(true) {
                    await Task.Delay(delay);
                    if(!isValid
                        && dividerBounds != null
                        && !mouseState.IsCaptured
                        && mouseState.ButtonsDown == 1
                        && dividerBounds.Contains(mouseState.X, mouseState.Y)) {
                        mouseState.IsCaptured = true;
                        isValid = true;
                    }

                    if(isValid) {
                        if(mouseState?.ButtonsDown == 1) {
                            double offset = Orientation == Orientations.Vertical ? mouseState.Y - resizeElementBounds!.Bottom : mouseState.X - resizeElementBounds.Right;

                            if(Orientation == Orientations.Vertical) {
                                resizeElementBounds.Height += offset;
                                dividerBounds!.Y = resizeElementBounds.Height + dividerBounds.Height / 2;
                            } else {
                                resizeElementBounds.Width += offset;
                                dividerBounds!.X = resizeElementBounds.Width + dividerBounds.Width / 2;
                            }
                            await ApplyNewSize();
                        } else {
                            mouseState!.IsCaptured = false;
                            isValid = false;

                            if(Orientation == Orientations.Vertical) {
                                await OnResizeEnd.InvokeAsync((Name, resizeElementBounds!.Height));
                            } else {
                                await OnResizeEnd.InvokeAsync((Name, resizeElementBounds!.Width));
                            }
                        }
                    }
                }
            });
        }
    }
}
