.player-container {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    height: 100%;
    width: 100%;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;

        .file-info {
            display: flex;
            flex-direction: column;

            span:not(:first-child) {
                height: 1.2rem;
                filter: brightness(0.9);
            }

            span:first-child {
                font-size: 1.2rem;
                font-weight: 500;
                height: 1.4rem;
            }
        }

        .time, .bpm-key {
            display: flex;
            flex-direction: column;
            text-align: right;
            font-family: var(--mono-font-family);
        }

        .time {
            padding-left: 1rem;
        }

        .bpm-key {
            min-width: 10ch;
            padding-right: 1rem;
        }

        .player-name {
            font-size: 2rem;
            font-weight: 600;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //aspect-ratio: 1;
            height: 3.5rem;
        }
    }

    .waveform-full {
        display: flex;
        flex-direction: row;
        gap: 1px;
        min-height: 38px;
        max-height: 38px;
        overflow: hidden;
        margin-bottom: 1px;

        background-color: var(--panel-background-color-light);
    }

    .waveform {
        display: flex;
        flex-direction: row;
        gap: 1px;
        flex: 1;
        /*overflow: hidden;*/
        
        min-height: 150px;
        max-height: 150px;
        
        background-color: var(--panel-background-color-light);

        &.reverse {
            flex-direction: row-reverse;
        }

        ::deep .vumeter-container {
            min-width: 32px;
            max-width: 32px;
        }

        ::deep .fader-container, knobs-container {
            min-width: 40px;
            max-width: 40px;
        }

        & ::deep > * {
            background-color: var(--panel-background-color-dark) !important;
        }
    }

    .transport {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        width: 100%;

        .icon {
            position: relative;
            width: 64px;
            height: 48px;
            font-weight: 600;
            padding: 6px 0 0 8px;
            cursor: pointer;

            &.active {
                color: #83fa1b;
            }
        }

        .sync-adjust {
            display: flex;
            flex-direction: column;
            gap: 4px;
            flex: 1;
            max-width: 8rem;
            min-width: 6rem;
            height: 100%;
            margin-left: auto;

            span {
                display: inline-block;
                width: 100%;
                background-color: rgb(var(--secondary));
                text-align: center;
            }

            .sync-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2px;
                height: 100%;

                .button-3d {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(50% - 4px);

                    i {
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    .ljc-container {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        flex: 1;
        height: calc(100vh - 900px); /* FIXME: This is a hack */

        .loop-jump-cuepoints {
            display: flex;
            flex-direction: column;
            padding: 10px 0 10px 20px;
            flex: 1;

            .loop-container {
                position: relative;

                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                row-gap: 3px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    left: -10px;
                    width: 20px;
                    height: calc(1.5rem + 10px - 2px);

                    border: 2px solid var(--panel-background-color-dark-dark);
                    clip: rect(0, 10px, calc(1.5rem + 10px + 2px), 0);
                }

                .lock-button {
                    position: absolute;
                    top: 50%;
                    left: -12px;
                    transform: translateY(-50%);
                    font-size: 0.6rem;
                    color: var(--panel-background-color-dark-dark);
                    background-color: var(--panel-background-color-light);
                    padding: 2px 0 3px;
                    z-index: 1;
                    cursor: pointer;

                    transition: color 250ms;

                    &:hover {
                        color: var(--text-white);
                    }
                }

                .button-thin {
                    position: relative;
                    padding: 4px 8px;
                    margin-right: 0.5rem;
                    cursor: pointer;
                    z-index: 1;

                    &.led::after {
                        width: 6px;
                        height: 6px;
                        right: 1px;
                        bottom: 1px;
                    }

                    &.no-click {
                        cursor: default;
                        pointer-events: none;
                    }
                }

                .loop-size-container {
                    display: flex;
                    flex-direction: row;            

                    .button {
                        cursor: pointer;
                        padding: 4px 8px;
                        background-color: var(--panel-background-color-dark);
                        font-family: var(--mono-font-family);

                        &.selected {
                            background-color: rgb(var(--primary));
                        }

                        &.enabled {
                            background-color: rgb(var(--secondary));
                        }
                    }

                    .jump-buttons {
                        display: flex;
                        flex-direction: row;
                        margin-left: 0.5rem;
                    }
                }
            }
        }

        .hidden {
            display: none !important;
        }

        .disabled {
            pointer-events: none;
            user-select: none;
        }

        .tabs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3px;
            padding-left: 10px;

            button {
                color: var(--text-white);
                font-size: 0.89rem;
                text-transform: uppercase;
                white-space: nowrap;
                padding: 3px 8px;
            }
        }
    }
}
