h3 {
    color: var(--text-white);
    border-bottom: 1px solid var(--panel-background-color-light);
    //border-bottom: 2px solid var(--header-background-color);
    margin-bottom: 1rem;
}

h5 {
    margin-bottom: 0.6rem;
}

.note {
    font-size: 0.7rem;
    color: var(--secondary-light);
}

.field {
    label {
        text-align: left !important;
        max-width: unset !important;
    }

    .info {
        margin-left: 1rem;
        font-size: 0.8rem;
        color: var(--help);
    }
}

.sub-header {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

::deep input.as-number {
    max-width: 5rem !important;
}

.color {
    width: calc(1.7rem + 2px);
    aspect-ratio: 1;
    padding: 0px;
    margin-left: 0.5rem;
    border: 1px solid var(--panel-background-color-light);
}

.eq-profile-info {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.8rem;
    margin: -0.5rem 0 0 calc(8rem + 6px + 1px);
    padding: 0.4rem calc(0.4rem + 6px) 0.4rem 0.4rem;
    gap: 0.5rem;
    cursor: pointer;
    border-left: 6px solid var(--panel-background-color-dark);
    width: fit-content;

    span:nth-child(2n) {
        color: var(--ctrl-highlight);
        text-align: right;
        font-family: var(--mono-font-family);
    }
}

.media-providers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}