.year {
    max-width: 9rem;
}

.key-notation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .notation {
        left: 0 !important;
        width: fit-content !important;
    }
}

.bpm-container {
    label {
        line-height: 1rem;
    }

    .downbeat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;

        ::deep input {
            width: 2.5rem;
        }
    }

    .recalculate {
        margin-left: 0.5rem;
        opacity: 0.7;
        white-space: nowrap;

        padding-right: 0.5rem;
        &:not(:last-child) {
            border-right: 1px solid var(--panel-background-color-light);
        }

        transition: opacity 250ms;

        &:hover {
            opacity: 1;
        }
    }
}

::deep {
    #bpm, #key {
        max-width: calc(6rem - 6px);
    }

    #notation {
        margin-left: 0.5rem;
        height: 1.8rem;
        width: 7.2rem;
        font-size: 0.7rem;
    }

    [readonly="true"] {
        cursor: default;
    }

    .player-container {
        width: 100%;
        height: 256px;

        background-color: var(--panel-background-color-light);
    }
}

.filename {
    font-size: 0.8rem;
    color: var(--ctrl-highlight-soft);

    margin: 1rem 0 0 8ch;
    width: calc(100% - 8ch);
    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--panel-background-color-dark);
    border-bottom: 1px solid var(--panel-background-color-dark);
}