.waveform-container {
    position: relative;
    width: 100%;

    ::deep canvas {
        display: block;
        width: 100%;
        height: 100%;

        background-color: var(--black);
    }

    .cursor {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: color-mix(in srgb, var(--led-red), transparent 40%);        
    }

    &:hover {
        .zoom-controls {
            opacity: 1;
        }
    }

    .zoom-controls {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 0.6rem;
        opacity: 0;

        transition: opacity 250ms;

        top: 4px;
        right: 4px;

        div {
            padding: 3px 4px;
            background-color: var(--app-background-color);
            border: 1px solid var(--panel-background-color-dark);
            cursor: pointer;

            transition: background-color 250ms;

            &:hover {
                background-color: var(--panel-background-color-dark);
            }
        }
    }
}
