.main-console {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .panel {
        ::deep h3 {
            padding: 0.22em 0.5rem;
            margin: 0;
            background-color: var(--header-background-color);
            border-bottom: 1px solid var(--panel-background-color-dark);
        }
    }

    .players {
        display: grid;
        grid-template-columns: calc(50% - 100px) 200px calc(50% - 100px);

        min-height: 396px;
        max-height: 396px;

        .player {
            display: flex;
            flex-direction: row;
            background-color: var(--panel-background-color-light);
        }

        .mixer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-color: var(--panel-background-color-dark);

            .controls {
                height: calc(5rem - 2px);
            }

            .crossfade-controls {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 6px 8px;
                cursor: pointer;

                ::deep .fader-container {
                    width: 100%;
                }

                .button-3d {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                }
            }
        }
    }

    .media {
        display: flex;
        flex-direction: row;
        flex: 1;
        overflow: hidden;

        .sources {
            width: 400px;
            background-color: var(--panel-background-color-light);
        }
    }
}