.main-console {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .panel {
        ::deep h3 {
            padding: 0.22em 0.5rem;
            margin: 0;
            background-color: var(--header-background-color);
            border-bottom: 1px solid var(--panel-background-color-dark);
        }
    }

    .players {
        display: flex;
        flex-direction: row;
        gap: 1px;
        background-color: var(--panel-background-color-dark-dark);

        min-height: 396px;
        max-height: 396px;

        .player {
            display: flex;
            flex-direction: row;
            background-color: var(--panel-background-color-light);

            width: calc(50% - 48px / 2);
        }

        .global-controls {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--panel-background-color-light);
            padding: 113px 6px 6px;

            .button-thin {
                padding: 6px 0;
                cursor: pointer;
            }
        }
    }

    .mixer {
        position: relative;
        width: 100%;
        background-color: var(--panel-background-color-dark);

        .monitor-controls {
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.2rem;

            i {
                font-size: 0.6rem;
                margin-top: -6px;
            }
        }

        .crossfade-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 8px;
            cursor: pointer;
            margin: 0 auto;
            width: 15%;
            min-width: 18rem;

            ::deep .fader-container {
                width: 100%;
            }

            .button-3d {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.6rem;
                height: 2rem;
                margin: auto 0;
            }
        }
    }

    .media {
        display: flex;
        flex-direction: row;
        flex: 1;
        overflow: hidden;

        .media-providers {
            display: flex;
            flex-direction: column;

            .tabs {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 2px;
                background-color: var(--panel-background-color-dark-dark);
                border-bottom: 1px solid var(--panel-background-color-dark);

                .tab {
                    text-align: center;
                    color: var(--text-gray);
                    background-color: var(--panel-background-color-dark);
                    width: 100%;
                    height: calc(2rem - 1px);
                    padding: calc(0.2rem + 1px) 0.5rem;
                    cursor: pointer;

                    &.selected {
                        color: var(--text-white);
                        background-color: var(--panel-background-color-light);
                    }
                }

            }
            
            .sources {
                width: 400px;
                height: 100%;
                background-color: var(--panel-background-color-light);
            }
        }
    }
}